.completed {
    background-color: #28a745;
    color: #fff; 
    border-color: #28a745; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 2px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.character-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .character-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  }

  .character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .character-card {
    flex: 0 0 calc(15.33% - 10px); 
    margin-bottom: 20px; 
    box-sizing: border-box;
  }
